<nav class="navbar navbar-expand-md navbar-dark bg-light fixed-top">
  <a class="navbar-brand" routerLink="/" href="#">Schoolapp</a>
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
    data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
    <ul class="navbar-nav mr-auto">

      <a class="nav-link" routerLink="/students" *ngIf="adminCheck()" (click)="isNavbarCollapsed = true">Students</a>
      <a class="nav-link" routerLink="/courses" *ngIf="adminCheck()" (click)="isNavbarCollapsed = true">Courses</a>
      <a class="nav-link" routerLink="/diagrams" *ngIf="adminCheck()" (click)="isNavbarCollapsed = true">Stats</a>
      <a class="nav-link" routerLink="/calendar" *ngIf="anyUserCheck()" (click)="isNavbarCollapsed = true">Calendar</a>
      <a class="nav-link" routerLink="/register" (click)="isNavbarCollapsed = true">Register</a>
      <a class="nav-link" routerLink="/login" (click)="isNavbarCollapsed = true">Login</a>
    </ul>


    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">


        <li class="nav-item dropdown" ngbDropdown *ngIf="this.authenticationService.user">
          <a class="nav-link dropdown-toggle" id="id01" ngbDropdownToggle>Logged as
            {{this.authenticationService.user.firstName}}</a>
          <div class="dropdown-menu" aria-labelledby="id01" ngbDropdownMenu>
            <a class="dropdown-item" routerLink="/" (click)="this.authenticationService.logout()">Log out</a>
          </div>
        </li>
      </ul>
    </div>

  </div>
</nav>

<div class="content" style="padding-top: 79px;">
  <router-outlet></router-outlet>
</div>